.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.main form {
  margin-bottom: 1em;
}

.main form button {
  margin-left: 0.5em;
}

.main pre {
  width: 100%;
}
