.main {
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main h1 {
  text-align: center;
}

.networkStatus {
  align-self: flex-end;
  height: 1rem;
}

.serviceOrderForm {
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.serviceOrderForm .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75em;
}

.serviceOrderForm input {
  min-width: 50px;
  flex: 1 0 60%;
  padding: 0.25em 0.5em;
}

.serviceOrderForm button {
  flex: 1 0 0%;
  padding: 0.25em 0.75em;
}

.errorMessage {
  font-size: 0.75rem;
  padding: 0.5em;
  min-height: 2.25em;
}

.serviceOrderInfo {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 2.25em;
}

.serviceOrderInfo pre {
  white-space: pre-wrap;
  width: fit-content;
  max-width:  350px;
}

.spacer {
  height: 2.25em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  font-size: 1rem;
  padding: 0.75em 1em;
  border-radius: var(--border-radius);
}

.checkpoints {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.checkpoints li {
  list-style-type: none;
  display: flex;
  flex-direction: column ;
  align-items: center;
  gap: 0.25em;
}

.checkpoints li span:first-child {
  white-space: nowrap;
  width: fit-content;
}

.checkpoints li span:nth-child(2){
  min-width:  10ch;
  text-align: center;
}

/* .checkpoints li span:last-child {
  flex-grow: 1;
} */

@media (min-width: 380px) {

  .checkpoints li {
    flex-direction: row;
    justify-content: center;;
    gap: 0.5em;
  }
  
  .checkpoints li span:nth-child(2){
    text-align: end;
  }
  
  .checkpoints li span:nth-child(3){
    width:  4ch;
  }
  
  /* .checkpoints li span:last-child {
    flex-grow: 1;
  } */

}
